/*sections///////////*/

.first-bg{
  height: 40rem;
  width: 100%;
  background-image:url("http://www.sfu.ca/~zjzhong/iat339/po03/img/animationbg.png");
  background-size: cover;
  display: table;
  background-position: center;
  background-attachment: fixed;
}


.moodboard-container{
  height: 171rem;
  width: 100%;
  background: #181f24;
  background-size: cover;
  display: table;
  background-attachment: fixed;
  }




  .postpro-container{
    height: 171rem;
    width: 100%;
    background:black;
    background-size: cover;
    display: table;
    background-attachment: fixed;
    }



.reflection-container{
  height: 171rem;
  width: 100%;
  background:black;
  background-size: cover;
  display: table;
  background-attachment: fixed;
  }





  /* font style */
.subtitle{
  margin-top: 8rem;
  font-family: "basictitlefont", sans-serif;
  color: #5d9fcf;
  font-size: 25px;
  /*margin-right: 5rem;*/
  /*text-align: right;*/
}

 span {
  /*font-weight: 300px;*/
  /*display: block;*/
  font-size: .7em;
    color: white;
    margin-top: 1rem;
    font-style: oblique;
    opacity: 0.7;
}

.moodboard-container p {
  font-family: "HindSiliguri-Light", sans-serif;
    max-device-width: 850px;
    margin: 0 auto;
    padding:1rem;
    color: gray;
    text-align: left;

}

  .first-bg p{
    font-family: "HindSiliguri-Light", sans-serif;
      max-device-width: 850px;
      margin: 0 auto;
      padding-bottom: 3rem;
      color: white;
      margin-top: 5rem;
      text-align: left;


      }

.postpro-container p{
  font-family: "HindSiliguri-Light", sans-serif;
    max-device-width: 850px;
    margin: 0 auto;
    padding:1rem;
    color: gray;
}

.caption-pic{
  color: gray;
  font-size: 12px;
  font-family: sans-serif;
  text-align: right;
}

.ref-t{

  /*max-device-width: 850px;*/
  font-family: "HindSiliguri-Light", sans-serif;
    max-device-width: 850px;
    margin: 0 auto;
    padding:1rem;
    color: gray;
    text-align: left;
}









    /*image-sizing */


.sketch{
  /*margin-top: 5rem;*/
  padding-top: 4rem;
  width:100%;
}

.sketch1{
  /*margin-top: 5rem;*/
  padding-top: 4rem;
  width:100%;
  /*opacity: 0;*/

}



.sketch3{
  /*margin-top: 5rem;*/
  padding-top: 5rem;
  width:100%;
  /*margin-bottom: 2rem;*/
}

.moodboard{
   width:100%;
}




  /* Setting up our grid */


body .container-fluid{
padding: 0;
}

body .row{
  margin: 0;
}

@media (max-width: 500px)  {
.first-bg{
  height: 20rem;

}
