
#first-bg{
  height: 50rem;
  width: 100%;
  background-image:url("http://www.sfu.ca/~zjzhong/iat339/po03/img/animationbg.png");
  background-size: cover;
  display: table;
  background-position: center;
  background-attachment: fixed;
}

.nametitle {
  margin-top: 28rem;
  font-family: "basictitlefont", sans-serif;
  color: white;
  font-size: 35px;
  text-align: center;
}
